body._lock {
    overflow: hidden;
}
.header {
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(28, 28, 28, 0.1);
}
.header__wrapper {
    padding: 22px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    position: relative;
    z-index: 5;
    color: #000000;
}
.header__logo--img {
    width: 169px;
    height: 38px;
}
.menu__nav {
    position: relative;
}
.menu__list {
    display: flex;
    align-items: center;
}
.burger {
    display: none;
    background: none;
}
.menu__item:not(:first-child) {
    margin-left: 32px;
}
.menu__link {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

/* Header Scroll BG - start */
.header.scrolled {
    transition: all 3s ease 0;
    z-index: 99;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}
/* Header Scroll BG - end */

@media screen and (max-width: 800px) {
    .burger {
        position: relative;
        z-index: 5;
        display: block;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .burger__line {
        width: 100%;
        right: 0;
    }
    .burger__line,
    .burger::before,
    .burger::after {
        position: absolute;
        height: 2px;
        transition: all 0.3s ease 0s;
        background-color: #424242;
    }
    .burger::before,
    .burger::after {
        content: '';
        width: 100%;
        left: 0;
    }
    .burger::before {
        top: 0;
    }
    .burger::after {
        bottom: 0;
    }
    .burger__line {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .burger._active .burger__line {
        transform: scale(0) translate(0px, -50%);
    }
    .burger._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .burger._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .menu__nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
        transition: right 0.5s ease 0s;
        overflow: auto;
    }
    .menu__nav._active {
        right: 0;
    }
    .menu__nav::before {
        padding: 50px 0;
        content: '';
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 2;
    }
    .menu__list {
        text-align: center;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }
    .menu__nav .menu__list > .menu__item {
        margin-top: 32px;
    }
    .menu__nav._active .menu__list > .menu__item {
        letter-spacing: 1px;
        margin-top: 32px;
    }
    .menu__item:not(:first-child) {
        margin-left: 0;
    }
    .menu__link {
        color: #424242;
        font-size: 18px;
    }
}
/* Header - end */


@media screen and (max-width: 400px) {
    .menu__list {
        margin-top: 65px;
    }
    .menu__link {
        font-size: 15px;
        letter-spacing: 0;
    }
};