<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <a href="#" class="header__logo">
                <!-- <img src="./img/logo.png" alt="Header LOGO" class="header__logo--img"> -->
                LOGO
            </a>
            <div class="header__menu menu">
                <button class="header__burger burger" aria-label="Меню">
                    <span class="burger__line"></span>
                </button>
                <nav class="menu__nav">
                    <ul class="menu__list" id="menu">
                        <li class="menu__item" data-goto=".">
                            <a href="#" class="menu__link">Главная</a>
                        </li>
                        <li class="menu__item" data-goto=".about">
                            <a href="#" class="menu__link">О нас</a>
                            <span class="menu__arrow"></span>
                            <ul class="menu__sublist">
                                <li class="menu__subitem" data-goto=".">
                                    <a href="#" class="menu__sublink">Раздел страницы 1</a>
                                </li>
                                <li class="menu__subitem" data-goto=".">
                                    <a href="#" class="menu__sublink">Раздел страницы 2</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu__item" data-goto=".">
                            <a href="#" class="menu__link">Услуги</a>
                        </li>
                        <li class="menu__item" data-goto=".">
                            <a href="#" class="menu__link">Портфолио</a>
                        </li>
                        <li class="menu__item" data-goto=".">
                            <a href="#" class="menu__link">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>